In [1]:
l1 = [1,2,3]

# Python Pandas - Series

#### Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.

## pandas.Series

#### A pandas Series can be created using the following constructor −

#### pandas.Series( data, index, dtype, copy)

## data

#### data takes various forms like ndarray, list, constants

## index

#### Index values must be unique and hashable, same length as data

## dtype

#### dtype is for data type. If None, data type will be inferred

## copy

#### Copy data. Default False

### A series can be created using various inputs like −

    Array
    Dict
    Scalar value or constant

# Import Pandas

In [2]:
import pandas

# Create a series Object From A Python List

In [3]:
import pandas

ice_cream = ['Chocolate','Vanila','Strawberry','Mango']

ourSeries = pandas.Series(ice_cream)

In [4]:
ourSeries

0     Chocolate
1        Vanila
2    Strawberry
3         Mango
dtype: object

In [5]:
import pandas

lottery = [0,1,2,3,4,5,6]

lotterySeries = pandas.Series(lottery)

lotterySeries

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [6]:
registration = [True, False, False, True, True]

registrationSeries = pandas.Series(registration)

registrationSeries

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [7]:
import pandas

ourDictionary = {'cow':'An animal',
                 'Banana':'A Fruit',
                 'red':'A color'}

ourDictionarySeries = pandas.Series(ourDictionary)

ourDictionarySeries

cow       An animal
Banana      A Fruit
red         A color
dtype: object

# Alias name for library

### For Abdul Aziz vai

In [8]:
import pandas as pd    # Here pd is used as short-form of pandas

about_Abdul_Aziz_Vai = ['Polite','Attentive','Humble','Enthusiastic','Fighter']

manikVaiSeries = pd.Series(about_Abdul_Aziz_Vai)


manikVaiSeries

0          Polite
1       Attentive
2          Humble
3    Enthusiastic
4         Fighter
dtype: object

In [9]:
#create a list of 10 trainess and passed it with a series

# Intro to Attributes

The basic diferrence between attributes and methods is parentheses ()

In [10]:
import pandas as pd

cars = ['BMW','VOLVO','PORCHE','AUDI','TESLA']

carsSeries = pd.Series(cars)

carsSeries

0       BMW
1     VOLVO
2    PORCHE
3      AUDI
4     TESLA
dtype: object

In [11]:
carsSeries.values  # Here values is an attribute of Series object

array(['BMW', 'VOLVO', 'PORCHE', 'AUDI', 'TESLA'], dtype=object)

In [12]:
carsSeries.index  # Here index is an attribute of Series object

RangeIndex(start=0, stop=5, step=1)

In [13]:
carsSeries.dtype  # Here dtype is an attribute of Series object

dtype('O')

# Intro to Methods
### Method do something
### Attribute show something

In [14]:
import pandas as pd

prices = [1.2,2.2,1.5,3,2,1.7]

pricesSeries = pd.Series(prices)

pricesSeries

0    1.2
1    2.2
2    1.5
3    3.0
4    2.0
5    1.7
dtype: float64

In [15]:
pricesSeries.sum()  #  sum() method do sum operation

11.6

In [16]:
pricesSeries.product()  #  product() method do multiply operation

40.391999999999996

In [17]:
pricesSeries.mean()   #  mean() method do average operation

1.9333333333333333

# Exercise

In [18]:

# Create a list with 4 countries - United States, France, Germany, Italy
# Create a new Series by passing in the list of countries
# Assign the Series to a "countries" variable

In [19]:

# Create a list with 3 colors - red, green, blue
# Create a new Series by passing in the list of colors
# Assign the Series to a "colors" variable

In [20]:

# Given the "recipe" dictionary below,
# create a new Series by passing in the dictionary as the data source
# Assign the resulting Series to a "series_dict" variable

# Intro to attributes

# Intro to Methods

# Parameter and Argument

In [21]:
import pandas as pd


weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']

fruits = ['Mango','PineApple','Banana','Grape','JackFruit']


ourSeries1 = pd.Series(fruits,weekdays) # If Series method have two parameters 1st one is Data & 2nd one is Index

ourSeries2 = pd.Series(data = weekdays, index = fruits)

ourSeries2

Mango           Monday
PineApple      Tuesday
Banana       Wednesday
Grape         Thursday
JackFruit       Friday
dtype: object

In [22]:
ourSeries2 = pd.Series(data = weekdays, index = fruits)

ourSeries2

Mango           Monday
PineApple      Tuesday
Banana       Wednesday
Grape         Thursday
JackFruit       Friday
dtype: object

In [23]:
ourSeries2 = pd.Series(weekdays, index = fruits)

ourSeries2

Mango           Monday
PineApple      Tuesday
Banana       Wednesday
Grape         Thursday
JackFruit       Friday
dtype: object

In [24]:
l1 = [1,2,3]

# Comma-separated values (csv)
A comma-separated values file is a delimited text file that uses a comma to separate values. Each line of the file is a data record. Each record consists of one or more fields, separated by commas. The use of the comma as a field separator is the source of the name for this file format.

# What are the differences between CSV and XLS (Excel) file formats?
The difference between CSV and XLS file formats is that CSV format is a plain text format in which values are separated by commas (Comma Separated Values), while XLS file format is an Excel Sheets binary file format which holds information about all the worksheets in a file, including both content and formatting.

# Import csv

In [25]:
import pandas as pd

pd.read_csv("bmw.csv")

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,39743,110,2015-10-01,diesel,black,van,False,True,False,False,False,False,True,False,14600,2018-08-01
4839,BMW,218 Active Tourer,49832,100,2015-06-01,diesel,grey,van,False,True,False,False,False,False,True,True,17500,2018-08-01
4840,BMW,218 Gran Tourer,19633,110,2015-10-01,diesel,grey,van,False,True,False,False,False,False,True,True,17000,2018-09-01
4841,BMW,218 Active Tourer,27920,110,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,22700,2018-09-01
4842,BMW,525,195840,160,2013-01-01,diesel,grey,van,True,True,False,False,True,False,True,True,15500,2018-09-01

In [26]:
import pandas as pd

pd.read_csv("nba.csv")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# The .head() and .tail() method

In [27]:
import pandas as pd

bmw = pd.read_csv("bmw.csv")

bmw.head() # By default head() shows first 5 records

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01

In [28]:
import pandas as pd

bmw = pd.read_csv("bmw.csv")

bmw.head(10)  # number passed in head() shows that number of record from first record

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01
5,BMW,335,152352,225,2011-05-01,petrol,black,convertible,True,True,False,False,True,True,True,True,17100,2018-02-01
6,BMW,325,205219,145,2009-05-01,diesel,grey,convertible,True,True,False,False,True,True,True,True,12400,2018-02-01
7,BMW,118,115560,105,2009-08-01,petrol,white,convertible,True,True,False,False,False,True,True,False,6100,2018-02-01
8,BMW,Z4,123886,125,2004-07-01,petrol,black,convertible,True,False,False,False,False,True,True,False,6200,2018-03-01
9,BMW,320,139541,135,2013-06-01,diesel,white,convertible,False,False,False,False,True,False,True,False,17300,2018-03-01

In [29]:
l = [1,2,3,[5,6,7,[1,2,3]]]

In [30]:
l[3][3]

[1, 2, 3]

In [31]:
import pandas as pd

bmw = pd.read_csv("bmw.csv")

bmw.tail() # By default tail() shows last 5 records

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
4838,BMW,218 Gran Tourer,39743,110,2015-10-01,diesel,black,van,False,True,False,False,False,False,True,False,14600,2018-08-01
4839,BMW,218 Active Tourer,49832,100,2015-06-01,diesel,grey,van,False,True,False,False,False,False,True,True,17500,2018-08-01
4840,BMW,218 Gran Tourer,19633,110,2015-10-01,diesel,grey,van,False,True,False,False,False,False,True,True,17000,2018-09-01
4841,BMW,218 Active Tourer,27920,110,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,22700,2018-09-01
4842,BMW,525,195840,160,2013-01-01,diesel,grey,van,True,True,False,False,True,False,True,True,15500,2018-09-01

In [32]:
bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   maker_key          4843 non-null   object
 1   model_key          4843 non-null   object
 2   mileage            4843 non-null   int64
 3   engine_power       4843 non-null   int64
 4   registration_date  4843 non-null   object
 5   fuel               4843 non-null   object
 6   paint_color        4843 non-null   object
 7   car_type           4843 non-null   object
 8   feature_1          4843 non-null   bool
 9   feature_2          4843 non-null   bool
 10  feature_3          4843 non-null   bool
 11  feature_4          4843 non-null   bool
 12  feature_5          4843 non-null   bool
 13  feature_6          4843 non-null   bool
 14  feature_7          4843 non-null   bool
 15  feature_8          4843 non-null   bool
 16  price              4843 non-null   int64
 17  sold_at            4843 non-null   object
dtypes: bool(8), int64(3), object(7)
memory usage: 416.3+ KB

In [33]:
import pandas as pd

bmw = pd.read_csv("bmw.csv")

bmw.head(200)  # number passed in tail() shows that number of record from last record

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,BMW,330,149525,190,2013-11-01,diesel,silver,estate,False,False,False,False,False,False,False,True,15400,2018-03-01
196,BMW,318,122357,105,2014-12-01,diesel,grey,estate,False,True,False,False,False,False,True,True,13700,2018-08-01
197,BMW,320,165516,135,2013-01-01,diesel,blue,estate,False,False,False,False,False,False,True,False,800,2018-05-01
198,BMW,318,158853,100,2013-02-01,diesel,black,estate,True,False,False,False,False,False,True,False,10900,2018-06-01
199,BMW,318,167280,105,2014-02-01,diesel,white,estate,False,True,False,False,False,False,True,True,13300,2018-02-01

# Passing pandas object to python built in function

In [34]:
import pandas as pd

google = pd.read_csv("google_stock_price.csv", squeeze = True )

In [35]:
import pandas as pd

google = pd.read_csv("google_stock_price.csv", squeeze = True ) # 'squeeze = True ' makes a one column dataframe into series

bmw = pd.read_csv("bmw.csv", usecols = ["paint_color"], squeeze = True) # usecols select the column to be used. Process: usecols = ["column name"]

google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [36]:
bmw

0        black
1         grey
2        white
3          red
4       silver
         ...
4838     black
4839      grey
4840      grey
4841     brown
4842      grey
Name: paint_color, Length: 4843, dtype: object

In [37]:
type(bmw)  # type() shows the object type

pandas.core.series.Series

In [38]:
type(google)

pandas.core.series.Series

In [39]:
list(google)

[50.12,
 54.1,
 54.65,
 52.38,
 52.95,
 53.9,
 53.02,
 50.95,
 51.13,
 50.07,
 50.7,
 49.95,
 50.74,
 51.1,
 51.1,
 52.61,
 53.7,
 55.69,
 55.94,
 56.93,
 58.69,
 59.62,
 58.86,
 59.13,
 60.35,
 59.86,
 59.07,
 63.37,
 65.47,
 64.74,
 66.22,
 67.46,
 69.12,
 68.47,
 69.36,
 68.8,
 67.56,
 68.63,
 70.38,
 70.93,
 71.98,
 74.51,
 73.9,
 70.17,
 74.62,
 86.13,
 93.61,
 90.81,
 92.89,
 96.55,
 95.22,
 97.92,
 97.34,
 95.74,
 92.26,
 84.59,
 86.19,
 84.27,
 83.85,
 91.42,
 90.91,
 92.34,
 86.19,
 86.16,
 83.69,
 84.62,
 82.47,
 83.68,
 87.29,
 89.61,
 90.43,
 90.9,
 89.89,
 89.61,
 90.11,
 88.06,
 85.63,
 84.91,
 86.63,
 85.74,
 85.14,
 89.26,
 89.8,
 88.15,
 89.95,
 92.42,
 91.78,
 93.06,
 93.86,
 95.86,
 96.28,
 96.35,
 98.7,
 96.3,
 101.25,
 97.15,
 96.66,
 94.18,
 96.83,
 97.43,
 96.67,
 97.59,
 97.57,
 99.89,
 101.85,
 98.55,
 96.86,
 94.05,
 90.27,
 88.47,
 94.53,
 93.95,
 95.07,
 97.71,
 95.85,
 102.88,
 105.32,
 102.08,
 97.92,
 99.22,
 95.69,
 93.9,
 93.61,
 96.4,
 97.52,
 99.11,
 98.85,
 98.88,
 95.59,
 96.88,
 94.35,
 92.84,
 93.9,
 92.94,
 92.5,
 93.41,
 92.86,
 94.31,
 92.51,
 90.58,
 89.9,
 88.81,
 87.41,
 89.22,
 87.71,
 89.56,
 89.93,
 90.35,
 89.21,
 89.4,
 89.54,
 90.62,
 89.7,
 90.13,
 90.16,
 89.93,
 92.55,
 94.19,
 94.52,
 96.78,
 95.93,
 96.52,
 96.88,
 96.37,
 95.63,
 92.41,
 93.39,
 95.6,
 98.95,
 102.01,
 107.8,
 111.65,
 109.27,
 109.78,
 109.62,
 109.89,
 111.03,
 112.98,
 114.14,
 113.38,
 113.9,
 112.9,
 113.79,
 115.53,
 114.25,
 114.51,
 115.41,
 116.45,
 119.46,
 119.47,
 120.68,
 127.6,
 127.87,
 130.27,
 129.47,
 132.87,
 138.5,
 143.86,
 143.81,
 139.99,
 145.32,
 146.41,
 139.64,
 143.01,
 141.11,
 141.23,
 139.04,
 137.26,
 138.58,
 140.0,
 143.21,
 143.78,
 144.51,
 144.71,
 148.48,
 151.9,
 150.85,
 146.21,
 146.93,
 145.48,
 147.71,
 145.62,
 147.62,
 147.97,
 146.53,
 145.75,
 149.28,
 150.29,
 150.44,
 149.62,
 154.8,
 155.84,
 156.81,
 151.05,
 147.78,
 147.9,
 148.32,
 146.6,
 143.74,
 145.66,
 149.45,
 148.5,
 148.72,
 146.03,
 145.48,
 145.64,
 142.7,
 141.88,
 144.72,
 141.86,
 142.68,
 142.41,
 139.86,
 139.86,
 136.87,
 139.65,
 141.14,
 141.15,
 141.65,
 144.08,
 143.49,
 142.86,
 142.98,
 144.08,
 143.41,
 147.29,
 147.55,
 149.4,
 154.72,
 155.68,
 151.35,
 151.16,
 149.95,
 151.74,
 153.8,
 155.79,
 155.53,
 157.52,
 156.98,
 156.81,
 152.85,
 154.66,
 158.07,
 159.18,
 155.34,
 155.2,
 156.22,
 156.34,
 155.17,
 152.9,
 150.33,
 148.57,
 147.92,
 152.35,
 151.49,
 154.2,
 151.45,
 169.78,
 174.15,
 173.28,
 177.54,
 176.35,
 178.91,
 185.88,
 189.5,
 189.65,
 192.78,
 195.02,
 197.32,
 194.76,
 189.39,
 195.35,
 195.0,
 198.29,
 196.2,
 198.88,
 201.52,
 199.9,
 204.48,
 208.03,
 211.22,
 214.1,
 211.53,
 201.57,
 202.25,
 206.84,
 208.64,
 202.72,
 202.07,
 201.91,
 205.12,
 204.4,
 206.1,
 208.54,
 209.27,
 211.05,
 214.86,
 212.09,
 214.66,
 212.95,
 215.8,
 215.25,
 212.11,
 213.13,
 209.86,
 207.22,
 217.4,
 222.4,
 225.39,
 232.6,
 233.22,
 234.65,
 235.58,
 231.58,
 232.89,
 233.32,
 222.23,
 218.0,
 199.53,
 213.54,
 221.29,
 216.28,
 216.92,
 216.53,
 213.2,
 216.11,
 200.69,
 197.82,
 190.59,
 192.36,
 183.78,
 184.36,
 179.21,
 181.12,
 172.68,
 171.49,
 171.02,
 183.05,
 184.19,
 183.11,
 182.56,
 188.85,
 188.51,
 194.99,
 181.13,
 182.22,
 188.04,
 188.9,
 183.87,
 182.04,
 176.76,
 171.33,
 168.58,
 168.36,
 175.4,
 172.08,
 169.22,
 169.73,
 173.92,
 169.79,
 169.94,
 170.77,
 182.72,
 184.66,
 188.41,
 197.29,
 194.03,
 194.8,
 194.66,
 201.97,
 203.79,
 205.38,
 202.88,
 207.98,
 204.63,
 204.27,
 200.88,
 203.21,
 201.92,
 205.04,
 207.29,
 218.33,
 220.03,
 213.37,
 212.77,
 209.8,
 208.76,
 199.25,
 197.2,
 196.89,
 197.18,
 196.95,
 197.19,
 204.2,
 201.29,
 193.31,
 186.88,
 187.91,
 185.46,
 187.06,
 185.31,
 184.82,
 185.29,
 187.6,
 190.43,
 191.3,
 190.48,
 185.78,
 185.72,
 191.12,
 189.53,
 187.03,
 194.8,
 193.06,
 196.45,
 193.09,
 190.58,
 193.07,
 192.0,
 195.3,
 195.15,
 193.88,
 193.39,
 200.86,
 199.78,
 202.23,
 201.91,
 200.96,
 202.85,
 208.7,
 209.46,
 211.39,
 210.52,
 211.38,
 210.01,
 208.89,
 212.07,
 208.42,
 204.21,
 201.55,
 203.74,
 201.32,
 199.3,
 193.37,
 194.86,
 195.25,
 194.49,
 192.56,
 191.01,
 193.87,
 193.11,
 187.57,
 183.43,
 187.51,
 186.74,
 188.79,
 190.31,
 188.28,
 186.91,
 184.07,
 184.53,
 190.29,
 193.67,
 192.71,
 191.49,
 188.46,
 188.96,
 186.53,
 186.68,
 186.44,
 190.28,
 189.29,
 190.18,
 189.08,
 189.11,
 191.99,
 189.88,
 189.06,
 188.74,
 191.85,
 195.75,
 203.08,
 201.79,
 204.74,
 207.14,
 201.7,
 198.3,
 203.22,
 201.69,
 201.79,
 203.23,
 201.26,
 201.59,
 200.75,
 200.52,
 201.82,
 207.64,
 205.7,
 210.04,
 214.29,
 213.11,
 213.04,
 213.51,
 213.44,
 210.66,
 210.11,
 209.44,
 212.82,
 229.61,
 240.15,
 236.42,
 243.06,
 242.31,
 237.36,
 238.05,
 237.96,
 233.52,
 234.72,
 235.66,
 238.24,
 236.05,
 237.26,
 236.08,
 236.54,
 240.27,
 244.41,
 245.72,
 247.7,
 249.15,
 247.28,
 254.57,
 253.75,
 252.2,
 242.13,
 244.51,
 242.08,
 242.16,
 240.16,
 242.18,
 243.26,
 244.11,
 241.08,
 241.81,
 241.72,
 240.65,
 239.26,
 240.82,
 239.91,
 231.17,
 234.08,
 231.22,
 227.87,
 227.56,
 228.54,
 233.78,
 231.05,
 230.01,
 233.56,
 241.39,
 243.35,
 241.55,
 242.51,
 244.49,
 249.61,
 252.25,
 251.89,
 248.39,
 243.67,
 244.63,
 240.18,
 239.29,
 249.28,
 243.8,
 247.67,
 245.99,
 246.91,
 250.5,
 240.63,
 240.51,
 233.35,
 235.5,
 234.77,
 235.28,
 230.71,
 228.92,
 229.32,
 232.73,
 230.5,
 234.74,
 235.81,
 237.69,
 237.69,
 235.07,
 232.23,
 224.16,
 224.5,
 223.89,
 219.12,
 220.25,
 228.55,
 227.59,
 227.13,
 226.25,
 227.15,
 221.29,
 223.78,
 222.87,
 220.2,
 223.39,
 222.42,
 228.05,
 230.79,
 230.68,
 232.27,
 231.58,
 230.71,
 230.23,
 228.85,
 229.04,
 236.06,
 235.27,
 235.52,
 233.87,
 233.02,
 232.03,
 233.46,
 232.91,
 236.9,
 236.16,
 237.77,
 235.59,
 241.0,
 239.3,
 238.53,
 238.76,
 240.35,
 239.27,
 235.45,
 234.27,
 232.66,
 236.38,
 235.32,
 233.4,
 233.17,
 234.39,
 230.5,
 233.14,
 230.66,
 228.77,
 236.07,
 235.24,
 234.92,
 235.06,
 237.69,
 236.75,
 236.93,
 241.52,
 243.31,
 249.05,
 248.71,
 249.95,
 253.28,
 259.16,
 258.87,
 257.27,
 257.49,
 255.41,
 252.13,
 252.37,
 251.17,
 252.69,
 257.34,
 256.9,
 254.73,
 256.8,
 262.23,
 263.45,
 264.86,
 262.88,
 262.24,
 261.09,
 264.92,
 266.9,
 270.54,
 269.43,
 271.01,
 271.4,
 271.96,
 272.39,
 275.8,
 276.22,
 277.22,
 274.48,
 274.02,
 259.8,
 256.0,
 256.74,
 254.63,
 253.75,
 255.69,
 257.8,
 254.74,
 256.21,
 255.25,
 251.25,
 254.74,
 257.75,
 262.63,
 257.11,
 257.62,
 257.49,
 254.05,
 248.53,
 245.51,
 249.77,
 248.71,
 253.05,
 256.12,
 255.84,
 257.24,
 256.37,
 252.95,
 256.18,
 255.44,
 257.37,
 262.31,
 263.64,
 261.5,
 259.42,
 256.98,
 260.4,
 261.06,
 262.13,
 264.11,
 262.39,
 267.37,
 273.15,
 276.14,
 279.77,
 283.73,
 284.22,
 283.8,
 283.47,
 283.35,
 290.98,
 291.9,
 291.72,
 289.23,
 296.73,
 304.51,
 307.28,
 312.38,
 310.69,
 318.38,
 309.74,
 307.69,
 316.42,
 319.49,
 322.03,
 325.05,
 337.55,
 337.57,
 333.92,
 336.96,
 339.28,
 347.04,
 353.15,
 351.25,
 355.27,
 362.46,
 370.52,
 366.1,
 346.57,
 331.65,
 315.72,
 329.94,
 320.52,
 314.51,
 316.5,
 312.61,
 323.95,
 329.93,
 338.01,
 332.7,
 336.45,
 345.78,
 348.15,
 346.15,
 340.42,
 341.74,
 348.91,
 357.27,
 357.08,
 358.85,
 349.25,
 349.33,
 346.68,
 344.64,
 334.28,
 336.34,
 338.35,
 344.5,
 348.0,
 350.01,
 355.06,
 350.02,
 350.91,
 345.39,
 342.25,
 342.32,
 328.17,
 324.3,
 315.52,
 326.27,
 323.04,
 318.81,
 326.58,
 318.51,
 307.67,
 300.09,
 299.82,
 291.88,
 274.04,
 286.96,
 282.92,
 277.71,
 274.98,
 273.86,
 281.87,
 257.69,
 247.47,
 253.15,
 250.6,
 252.22,
 258.09,
 260.32,
 258.79,
 267.04,
 265.86,
 264.56,
 254.22,
 254.25,
 251.18,
 253.65,
 242.98,
 231.86,
 236.19,
 237.46,
 235.35,
 228.28,
 222.08,
 223.63,
 216.13,
 216.46,
 206.6,
 219.7,
 219.87,
 221.28,
 218.74,
 209.73,
 219.36,
 215.78,
 216.56,
 230.05,
 225.16,
 228.87,
 221.82,
 218.82,
 220.01,
 232.62,
 232.62,
 227.33,
 235.31,
 238.17,
 233.67,
 231.86,
 234.3,
 228.5,
 225.6,
 223.2,
 227.29,
 224.55,
 269.44,
 268.63,
 277.22,
 272.97,
 271.25,
 271.76,
 275.78,
 278.96,
 286.86,
 296.24,
 290.35,
 297.15,
 292.89,
 289.21,
 291.21,
 286.3,
 292.18,
 291.21,
 287.86,
 290.21,
 289.74,
 288.47,
 289.01,
 274.72,
 274.46,
 272.04,
 280.17,
 283.84,
 291.21,
 292.61,
 287.21,
 283.37,
 285.82,
 292.86,
 283.22,
 278.66,
 276.81,
 272.33,
 276.2,
 285.47,
 286.12,
 284.45,
 280.91,
 279.82,
 272.94,
 272.33,
 270.88,
 275.22,
 264.15,
 263.77,
 262.95,
 267.1,
 263.26,
 268.23,
 271.68,
 276.99,
 270.5,
 270.02,
 266.63,
 260.55,
 257.79,
 267.53,
 266.45,
 240.42,
 234.17,
 238.32,
 244.37,
 237.57,
 245.74,
 238.32,
 241.31,
 241.11,
 236.64,
 233.7,
 231.27,
 239.69,
 242.93,
 239.32,
 ...]

In [40]:
max(google)

782.22

In [41]:
max(bmw)

'white'

In [42]:
min(bmw)

'beige'

In [43]:
dict(bmw)  # dict() makes dictionary from object

{0: 'black',
 1: 'grey',
 2: 'white',
 3: 'red',
 4: 'silver',
 5: 'black',
 6: 'grey',
 7: 'white',
 8: 'black',
 9: 'white',
 10: 'blue',
 11: 'black',
 12: 'blue',
 13: 'black',
 14: 'black',
 15: 'grey',
 16: 'white',
 17: 'grey',
 18: 'grey',
 19: 'black',
 20: 'white',
 21: 'grey',
 22: 'grey',
 23: 'orange',
 24: 'orange',
 25: 'blue',
 26: 'black',
 27: 'grey',
 28: 'black',
 29: 'black',
 30: 'red',
 31: 'grey',
 32: 'grey',
 33: 'grey',
 34: 'grey',
 35: 'black',
 36: 'red',
 37: 'grey',
 38: 'white',
 39: 'beige',
 40: 'black',
 41: 'black',
 42: 'blue',
 43: 'blue',
 44: 'black',
 45: 'grey',
 46: 'red',
 47: 'black',
 48: 'grey',
 49: 'black',
 50: 'grey',
 51: 'silver',
 52: 'grey',
 53: 'black',
 54: 'blue',
 55: 'black',
 56: 'silver',
 57: 'grey',
 58: 'silver',
 59: 'blue',
 60: 'blue',
 61: 'blue',
 62: 'white',
 63: 'blue',
 64: 'black',
 65: 'blue',
 66: 'black',
 67: 'silver',
 68: 'black',
 69: 'black',
 70: 'white',
 71: 'white',
 72: 'white',
 73: 'grey',
 74: 'black',
 75: 'blue',
 76: 'blue',
 77: 'black',
 78: 'black',
 79: 'blue',
 80: 'black',
 81: 'grey',
 82: 'black',
 83: 'black',
 84: 'grey',
 85: 'silver',
 86: 'black',
 87: 'black',
 88: 'blue',
 89: 'grey',
 90: 'grey',
 91: 'black',
 92: 'white',
 93: 'silver',
 94: 'grey',
 95: 'white',
 96: 'grey',
 97: 'grey',
 98: 'grey',
 99: 'white',
 100: 'black',
 101: 'grey',
 102: 'black',
 103: 'white',
 104: 'white',
 105: 'grey',
 106: 'black',
 107: 'black',
 108: 'beige',
 109: 'black',
 110: 'black',
 111: 'black',
 112: 'black',
 113: 'grey',
 114: 'black',
 115: 'blue',
 116: 'blue',
 117: 'white',
 118: 'black',
 119: 'brown',
 120: 'white',
 121: 'blue',
 122: 'grey',
 123: 'blue',
 124: 'grey',
 125: 'black',
 126: 'white',
 127: 'grey',
 128: 'black',
 129: 'black',
 130: 'grey',
 131: 'blue',
 132: 'white',
 133: 'black',
 134: 'black',
 135: 'red',
 136: 'blue',
 137: 'grey',
 138: 'black',
 139: 'grey',
 140: 'green',
 141: 'grey',
 142: 'grey',
 143: 'black',
 144: 'grey',
 145: 'blue',
 146: 'grey',
 147: 'blue',
 148: 'black',
 149: 'grey',
 150: 'black',
 151: 'black',
 152: 'brown',
 153: 'black',
 154: 'grey',
 155: 'grey',
 156: 'black',
 157: 'black',
 158: 'grey',
 159: 'beige',
 160: 'black',
 161: 'black',
 162: 'white',
 163: 'white',
 164: 'silver',
 165: 'black',
 166: 'white',
 167: 'blue',
 168: 'blue',
 169: 'black',
 170: 'silver',
 171: 'grey',
 172: 'blue',
 173: 'black',
 174: 'blue',
 175: 'blue',
 176: 'blue',
 177: 'white',
 178: 'grey',
 179: 'grey',
 180: 'black',
 181: 'black',
 182: 'white',
 183: 'grey',
 184: 'white',
 185: 'white',
 186: 'white',
 187: 'blue',
 188: 'white',
 189: 'grey',
 190: 'brown',
 191: 'silver',
 192: 'black',
 193: 'white',
 194: 'white',
 195: 'silver',
 196: 'grey',
 197: 'blue',
 198: 'black',
 199: 'white',
 200: 'grey',
 201: 'white',
 202: 'grey',
 203: 'white',
 204: 'black',
 205: 'black',
 206: 'blue',
 207: 'black',
 208: 'black',
 209: 'white',
 210: 'grey',
 211: 'black',
 212: 'grey',
 213: 'silver',
 214: 'grey',
 215: 'black',
 216: 'blue',
 217: 'white',
 218: 'grey',
 219: 'black',
 220: 'white',
 221: 'silver',
 222: 'black',
 223: 'grey',
 224: 'grey',
 225: 'red',
 226: 'black',
 227: 'silver',
 228: 'black',
 229: 'brown',
 230: 'grey',
 231: 'beige',
 232: 'white',
 233: 'black',
 234: 'black',
 235: 'blue',
 236: 'black',
 237: 'grey',
 238: 'blue',
 239: 'grey',
 240: 'black',
 241: 'brown',
 242: 'white',
 243: 'white',
 244: 'blue',
 245: 'blue',
 246: 'silver',
 247: 'red',
 248: 'black',
 249: 'white',
 250: 'blue',
 251: 'grey',
 252: 'blue',
 253: 'blue',
 254: 'black',
 255: 'black',
 256: 'black',
 257: 'grey',
 258: 'white',
 259: 'white',
 260: 'blue',
 261: 'black',
 262: 'grey',
 263: 'black',
 264: 'blue',
 265: 'black',
 266: 'grey',
 267: 'grey',
 268: 'grey',
 269: 'brown',
 270: 'black',
 271: 'blue',
 272: 'black',
 273: 'grey',
 274: 'grey',
 275: 'white',
 276: 'black',
 277: 'grey',
 278: 'white',
 279: 'brown',
 280: 'grey',
 281: 'black',
 282: 'brown',
 283: 'brown',
 284: 'blue',
 285: 'white',
 286: 'grey',
 287: 'grey',
 288: 'black',
 289: 'brown',
 290: 'black',
 291: 'brown',
 292: 'white',
 293: 'blue',
 294: 'grey',
 295: 'black',
 296: 'blue',
 297: 'black',
 298: 'brown',
 299: 'black',
 300: 'blue',
 301: 'black',
 302: 'silver',
 303: 'black',
 304: 'grey',
 305: 'grey',
 306: 'black',
 307: 'black',
 308: 'black',
 309: 'grey',
 310: 'black',
 311: 'white',
 312: 'black',
 313: 'white',
 314: 'white',
 315: 'black',
 316: 'black',
 317: 'white',
 318: 'brown',
 319: 'black',
 320: 'blue',
 321: 'blue',
 322: 'black',
 323: 'grey',
 324: 'white',
 325: 'black',
 326: 'white',
 327: 'silver',
 328: 'black',
 329: 'black',
 330: 'grey',
 331: 'black',
 332: 'grey',
 333: 'black',
 334: 'silver',
 335: 'grey',
 336: 'black',
 337: 'silver',
 338: 'black',
 339: 'blue',
 340: 'grey',
 341: 'grey',
 342: 'white',
 343: 'white',
 344: 'grey',
 345: 'blue',
 346: 'blue',
 347: 'black',
 348: 'blue',
 349: 'silver',
 350: 'white',
 351: 'blue',
 352: 'black',
 353: 'grey',
 354: 'brown',
 355: 'white',
 356: 'brown',
 357: 'blue',
 358: 'black',
 359: 'blue',
 360: 'black',
 361: 'black',
 362: 'silver',
 363: 'black',
 364: 'grey',
 365: 'black',
 366: 'black',
 367: 'white',
 368: 'black',
 369: 'white',
 370: 'grey',
 371: 'black',
 372: 'blue',
 373: 'white',
 374: 'grey',
 375: 'white',
 376: 'blue',
 377: 'blue',
 378: 'black',
 379: 'grey',
 380: 'black',
 381: 'black',
 382: 'blue',
 383: 'black',
 384: 'white',
 385: 'brown',
 386: 'grey',
 387: 'black',
 388: 'grey',
 389: 'black',
 390: 'black',
 391: 'blue',
 392: 'white',
 393: 'grey',
 394: 'white',
 395: 'silver',
 396: 'black',
 397: 'grey',
 398: 'red',
 399: 'brown',
 400: 'black',
 401: 'grey',
 402: 'black',
 403: 'black',
 404: 'black',
 405: 'silver',
 406: 'grey',
 407: 'grey',
 408: 'brown',
 409: 'black',
 410: 'grey',
 411: 'silver',
 412: 'grey',
 413: 'white',
 414: 'black',
 415: 'grey',
 416: 'black',
 417: 'blue',
 418: 'black',
 419: 'black',
 420: 'white',
 421: 'black',
 422: 'grey',
 423: 'black',
 424: 'blue',
 425: 'red',
 426: 'grey',
 427: 'grey',
 428: 'white',
 429: 'black',
 430: 'blue',
 431: 'grey',
 432: 'black',
 433: 'black',
 434: 'black',
 435: 'grey',
 436: 'grey',
 437: 'grey',
 438: 'black',
 439: 'blue',
 440: 'black',
 441: 'black',
 442: 'black',
 443: 'silver',
 444: 'black',
 445: 'black',
 446: 'blue',
 447: 'grey',
 448: 'white',
 449: 'brown',
 450: 'black',
 451: 'black',
 452: 'brown',
 453: 'blue',
 454: 'brown',
 455: 'grey',
 456: 'grey',
 457: 'silver',
 458: 'black',
 459: 'black',
 460: 'grey',
 461: 'grey',
 462: 'black',
 463: 'black',
 464: 'grey',
 465: 'brown',
 466: 'blue',
 467: 'grey',
 468: 'blue',
 469: 'black',
 470: 'grey',
 471: 'blue',
 472: 'black',
 473: 'black',
 474: 'black',
 475: 'black',
 476: 'black',
 477: 'grey',
 478: 'brown',
 479: 'white',
 480: 'white',
 481: 'black',
 482: 'black',
 483: 'black',
 484: 'grey',
 485: 'grey',
 486: 'grey',
 487: 'beige',
 488: 'white',
 489: 'black',
 490: 'black',
 491: 'blue',
 492: 'brown',
 493: 'silver',
 494: 'black',
 495: 'blue',
 496: 'black',
 497: 'brown',
 498: 'white',
 499: 'brown',
 500: 'brown',
 501: 'silver',
 502: 'blue',
 503: 'blue',
 504: 'grey',
 505: 'black',
 506: 'grey',
 507: 'black',
 508: 'grey',
 509: 'green',
 510: 'blue',
 511: 'red',
 512: 'black',
 513: 'black',
 514: 'grey',
 515: 'black',
 516: 'grey',
 517: 'grey',
 518: 'black',
 519: 'white',
 520: 'black',
 521: 'black',
 522: 'white',
 523: 'blue',
 524: 'grey',
 525: 'black',
 526: 'black',
 527: 'white',
 528: 'red',
 529: 'blue',
 530: 'white',
 531: 'black',
 532: 'blue',
 533: 'white',
 534: 'black',
 535: 'blue',
 536: 'black',
 537: 'grey',
 538: 'grey',
 539: 'black',
 540: 'grey',
 541: 'white',
 542: 'white',
 543: 'black',
 544: 'black',
 545: 'black',
 546: 'white',
 547: 'black',
 548: 'brown',
 549: 'blue',
 550: 'red',
 551: 'brown',
 552: 'black',
 553: 'black',
 554: 'blue',
 555: 'white',
 556: 'black',
 557: 'blue',
 558: 'blue',
 559: 'black',
 560: 'blue',
 561: 'blue',
 562: 'silver',
 563: 'black',
 564: 'black',
 565: 'black',
 566: 'grey',
 567: 'white',
 568: 'black',
 569: 'blue',
 570: 'silver',
 571: 'black',
 572: 'black',
 573: 'grey',
 574: 'brown',
 575: 'black',
 576: 'grey',
 577: 'grey',
 578: 'black',
 579: 'black',
 580: 'grey',
 581: 'brown',
 582: 'black',
 583: 'blue',
 584: 'blue',
 585: 'black',
 586: 'black',
 587: 'blue',
 588: 'white',
 589: 'blue',
 590: 'black',
 591: 'blue',
 592: 'black',
 593: 'brown',
 594: 'silver',
 595: 'grey',
 596: 'brown',
 597: 'black',
 598: 'brown',
 599: 'black',
 600: 'black',
 601: 'blue',
 602: 'black',
 603: 'black',
 604: 'blue',
 605: 'black',
 606: 'black',
 607: 'grey',
 608: 'grey',
 609: 'grey',
 610: 'blue',
 611: 'blue',
 612: 'grey',
 613: 'black',
 614: 'black',
 615: 'grey',
 616: 'grey',
 617: 'grey',
 618: 'black',
 619: 'black',
 620: 'silver',
 621: 'grey',
 622: 'silver',
 623: 'blue',
 624: 'blue',
 625: 'black',
 626: 'white',
 627: 'white',
 628: 'white',
 629: 'black',
 630: 'white',
 631: 'blue',
 632: 'black',
 633: 'grey',
 634: 'brown',
 635: 'blue',
 636: 'grey',
 637: 'grey',
 638: 'blue',
 639: 'grey',
 640: 'black',
 641: 'brown',
 642: 'black',
 643: 'grey',
 644: 'brown',
 645: 'brown',
 646: 'black',
 647: 'black',
 648: 'white',
 649: 'grey',
 650: 'black',
 651: 'grey',
 652: 'grey',
 653: 'brown',
 654: 'silver',
 655: 'grey',
 656: 'black',
 657: 'blue',
 658: 'grey',
 659: 'black',
 660: 'blue',
 661: 'silver',
 662: 'black',
 663: 'grey',
 664: 'black',
 665: 'black',
 666: 'white',
 667: 'blue',
 668: 'black',
 669: 'black',
 670: 'white',
 671: 'grey',
 672: 'black',
 673: 'white',
 674: 'black',
 675: 'black',
 676: 'grey',
 677: 'blue',
 678: 'black',
 679: 'black',
 680: 'black',
 681: 'blue',
 682: 'blue',
 683: 'brown',
 684: 'grey',
 685: 'blue',
 686: 'white',
 687: 'grey',
 688: 'silver',
 689: 'black',
 690: 'grey',
 691: 'black',
 692: 'blue',
 693: 'black',
 694: 'blue',
 695: 'blue',
 696: 'black',
 697: 'white',
 698: 'blue',
 699: 'black',
 700: 'black',
 701: 'blue',
 702: 'black',
 703: 'brown',
 704: 'silver',
 705: 'black',
 706: 'grey',
 707: 'blue',
 708: 'white',
 709: 'blue',
 710: 'grey',
 711: 'black',
 712: 'brown',
 713: 'grey',
 714: 'black',
 715: 'blue',
 716: 'black',
 717: 'blue',
 718: 'blue',
 719: 'grey',
 720: 'grey',
 721: 'black',
 722: 'blue',
 723: 'grey',
 724: 'brown',
 725: 'white',
 726: 'blue',
 727: 'blue',
 728: 'black',
 729: 'black',
 730: 'white',
 731: 'grey',
 732: 'black',
 733: 'grey',
 734: 'brown',
 735: 'white',
 736: 'brown',
 737: 'grey',
 738: 'blue',
 739: 'grey',
 740: 'grey',
 741: 'black',
 742: 'black',
 743: 'black',
 744: 'white',
 745: 'blue',
 746: 'grey',
 747: 'black',
 748: 'blue',
 749: 'black',
 750: 'black',
 751: 'blue',
 752: 'silver',
 753: 'silver',
 754: 'black',
 755: 'black',
 756: 'brown',
 757: 'blue',
 758: 'black',
 759: 'silver',
 760: 'white',
 761: 'brown',
 762: 'blue',
 763: 'brown',
 764: 'black',
 765: 'white',
 766: 'black',
 767: 'black',
 768: 'black',
 769: 'red',
 770: 'black',
 771: 'grey',
 772: 'blue',
 773: 'grey',
 774: 'black',
 775: 'black',
 776: 'grey',
 777: 'black',
 778: 'grey',
 779: 'black',
 780: 'white',
 781: 'blue',
 782: 'black',
 783: 'grey',
 784: 'white',
 785: 'white',
 786: 'grey',
 787: 'white',
 788: 'grey',
 789: 'grey',
 790: 'grey',
 791: 'black',
 792: 'white',
 793: 'white',
 794: 'grey',
 795: 'black',
 796: 'blue',
 797: 'grey',
 798: 'grey',
 799: 'white',
 800: 'black',
 801: 'blue',
 802: 'grey',
 803: 'black',
 804: 'white',
 805: 'grey',
 806: 'silver',
 807: 'grey',
 808: 'grey',
 809: 'black',
 810: 'blue',
 811: 'grey',
 812: 'white',
 813: 'white',
 814: 'blue',
 815: 'brown',
 816: 'blue',
 817: 'black',
 818: 'brown',
 819: 'black',
 820: 'silver',
 821: 'brown',
 822: 'black',
 823: 'white',
 824: 'white',
 825: 'blue',
 826: 'silver',
 827: 'black',
 828: 'black',
 829: 'brown',
 830: 'grey',
 831: 'black',
 832: 'black',
 833: 'black',
 834: 'silver',
 835: 'black',
 836: 'grey',
 837: 'black',
 838: 'black',
 839: 'grey',
 840: 'silver',
 841: 'black',
 842: 'blue',
 843: 'grey',
 844: 'blue',
 845: 'brown',
 846: 'brown',
 847: 'white',
 848: 'silver',
 849: 'black',
 850: 'grey',
 851: 'black',
 852: 'white',
 853: 'black',
 854: 'grey',
 855: 'grey',
 856: 'blue',
 857: 'brown',
 858: 'black',
 859: 'black',
 860: 'brown',
 861: 'blue',
 862: 'silver',
 863: 'grey',
 864: 'blue',
 865: 'grey',
 866: 'black',
 867: 'black',
 868: 'grey',
 869: 'black',
 870: 'grey',
 871: 'grey',
 872: 'black',
 873: 'silver',
 874: 'black',
 875: 'black',
 876: 'silver',
 877: 'grey',
 878: 'black',
 879: 'grey',
 880: 'grey',
 881: 'black',
 882: 'grey',
 883: 'blue',
 884: 'silver',
 885: 'grey',
 886: 'black',
 887: 'grey',
 888: 'black',
 889: 'black',
 890: 'white',
 891: 'brown',
 892: 'black',
 893: 'silver',
 894: 'silver',
 895: 'black',
 896: 'black',
 897: 'white',
 898: 'grey',
 899: 'silver',
 900: 'black',
 901: 'black',
 902: 'silver',
 903: 'grey',
 904: 'red',
 905: 'blue',
 906: 'black',
 907: 'grey',
 908: 'grey',
 909: 'silver',
 910: 'grey',
 911: 'brown',
 912: 'black',
 913: 'grey',
 914: 'grey',
 915: 'silver',
 916: 'black',
 917: 'white',
 918: 'black',
 919: 'brown',
 920: 'black',
 921: 'blue',
 922: 'black',
 923: 'grey',
 924: 'grey',
 925: 'grey',
 926: 'brown',
 927: 'white',
 928: 'blue',
 929: 'blue',
 930: 'blue',
 931: 'black',
 932: 'black',
 933: 'black',
 934: 'black',
 935: 'black',
 936: 'blue',
 937: 'blue',
 938: 'black',
 939: 'white',
 940: 'white',
 941: 'blue',
 942: 'beige',
 943: 'black',
 944: 'black',
 945: 'white',
 946: 'black',
 947: 'blue',
 948: 'grey',
 949: 'blue',
 950: 'white',
 951: 'black',
 952: 'white',
 953: 'silver',
 954: 'silver',
 955: 'grey',
 956: 'white',
 957: 'black',
 958: 'white',
 959: 'black',
 960: 'white',
 961: 'grey',
 962: 'black',
 963: 'white',
 964: 'black',
 965: 'white',
 966: 'blue',
 967: 'silver',
 968: 'grey',
 969: 'brown',
 970: 'silver',
 971: 'black',
 972: 'black',
 973: 'red',
 974: 'grey',
 975: 'blue',
 976: 'grey',
 977: 'white',
 978: 'grey',
 979: 'blue',
 980: 'blue',
 981: 'black',
 982: 'black',
 983: 'black',
 984: 'grey',
 985: 'grey',
 986: 'grey',
 987: 'blue',
 988: 'brown',
 989: 'black',
 990: 'black',
 991: 'black',
 992: 'brown',
 993: 'grey',
 994: 'black',
 995: 'grey',
 996: 'black',
 997: 'black',
 998: 'grey',
 999: 'brown',
 ...}

# Accessing more Attribute

In [44]:
import pandas as pd

google = pd.read_csv("google_stock_price.csv", squeeze = True ) # 'squeeze = True ' makes a one column dataframe into series

bmw = pd.read_csv("bmw.csv", usecols = ["paint_color"], squeeze = True) # usecols select the column to be used. Process: usecols = ["column name"]

In [45]:
google.values  # values attribute shows series values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [46]:
bmw.values

array(['black', 'grey', 'white', ..., 'grey', 'brown', 'grey'],
      dtype=object)

In [47]:
google.index # index attribute shows series index

RangeIndex(start=0, stop=3012, step=1)

In [48]:
bmw.dtype

dtype('O')

In [49]:
google.dtype # dtype attribute shows the data type of series values

dtype('float64')

In [50]:
bmw.is_unique  # is_unique attribute shows whether the values are unique or not

False

In [51]:
bmw

0        black
1         grey
2        white
3          red
4       silver
         ...
4838     black
4839      grey
4840      grey
4841     brown
4842      grey
Name: paint_color, Length: 4843, dtype: object

In [52]:
google.is_unique

False

In [53]:
googleTest

NameError: name 'googleTest' is not defined

In [ ]:
googleTest = pd.read_csv("Google_Stock_Price_Test.csv")
googleTest

In [ ]:
googleTest = pd.read_csv("Google_Stock_Price_Test.csv", usecols = ["Date"], squeeze = True )

In [ ]:
googleTest

In [ ]:
googleTest.is_unique

In [ ]:
googleTest.ndim   # ndim shows the dimension of the object

In [ ]:
bmw.ndim

In [ ]:
bmw.shape  # shape attributes shows record structure

# Use sort_values() method to sort a series in ascending order

In [ ]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv", squeeze = True )
google

In [ ]:
google.axes

In [ ]:
google.sort_values() # By default sort_values() method sort series values in ascending order

In [ ]:
google.sort_values(ascending = True)

In [ ]:
google.sort_values(ascending = False) # "ascending = False" gives descending values

In [ ]:
google

# Use the inplace parameter to permanently mutate a data structure

In [ ]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv", squeeze = True )
google

In [ ]:
google.sort_values(ascending = True)

In [ ]:
google.sort_values(ascending = True , inplace = False) # By default "inplace = False"

In [ ]:
google

In [ ]:
a = 2

a += 2

In [ ]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv", squeeze = True )
google

In [ ]:
google.sort_values(ascending = False , inplace = True)

In [ ]:
google

# Use the sort_index() method to sort the index of a pandas series object

In [ ]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv", squeeze = True )
google

In [ ]:
google.sort_values(ascending = True , inplace = True)

In [ ]:
google

In [ ]:
google.sort_index()

In [ ]:
google.sort_index(inplace = True)

In [ ]:
google

# Excercise

In [ ]:
#flavors = ["Spicy Sweet Chili", "Cool Ranch", "Nacho Cheese", "Salsa Verde"]

# Create a new Series object, passing in the flavors list defined above
# Assign it to a 'doritos' variable. The resulting Series should look like this:
#
#
#   0    Spicy Sweet Chili
#   1           Cool Ranch
#   2         Nacho Cheese
#   3          Salsa Verde
#   dtype: object



# Below, sort the doritos Series in descending order.
# Make sure the operation is permanent.
# The Series should like this afterwards:
#
#   0    Spicy Sweet Chili
#   3          Salsa Verde
#   2         Nacho Cheese
#   1           Cool Ranch
#   dtype: object

#Finally doritos must be as initial permanently

# Use python in keyword to check for inclusion in series values or index

In [ ]:
1 in [1,2,3]

In [ ]:
'Aziz' in ["Fahad","Faisal","Fahim"]

In [ ]:
import pandas as pd

pokemon = pd.read_csv("pokemon.csv")

pokemon

In [ ]:
import pandas as pd

pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon" , squeeze = True)  # index_col denote the index column

pokemon

In [ ]:
"Aziz" in pokemon.index

In [ ]:
"Thunder" in pokemon.values

# Extract Series value by index position

In [ ]:
import pandas as pd

pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon" , squeeze = True) 

google = pd.read_csv("google_stock_price.csv" , squeeze = True) 

google

In [ ]:
google[1]

In [ ]:
pokemon[5]

In [ ]:
pokemon

In [ ]:
pokemon["Charmander"]

In [ ]:
name = "Faisal"

In [ ]:
name["l"]

In [ ]:
google[[12,45,67]]

In [ ]:
pokemon[50:101]

In [ ]:
google.head(60)

In [ ]:
pokemon[-30:-10]

In [ ]:
pokemon[::100]

In [ ]:
pokemon.head(15)

In [ ]:
pokemon["Charmander":"Kakuna":5]

# Math method in series object

In [ ]:
import pandas as pd

pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon" , squeeze = True) 

google = pd.read_csv("google_stock_price.csv" , squeeze = True) 

college = pd.read_csv("nba.csv", usecols = ["College"], squeeze = True) 

college

In [ ]:
google

In [ ]:
google.count()

In [ ]:
college.count() # count() return number of valid value excluding NaN(Not a number)

In [ ]:
len(college) # len() return number of record in a series

In [ ]:
len(google)

In [ ]:
google.sum()  # sum() return the summation of all values in a series

In [ ]:
google.mean()  # mean() return the average of all values in a series

In [ ]:
google.std()  # std() returns a quantity that how much the members of a group differ from the mean value for the group

In [ ]:
google.min()

In [ ]:
google.max()

In [ ]:
google.median()  # median() returns midle value of a series

In [ ]:
1,2,3,4

In [ ]:
pokemon.mode()  # mode() returns maximum repeated value of a series

In [ ]:
google.describe() # describe() returns most of the mathmetical description

# Using idxmax() for greatest valued index and idxmin() for smallest valued index

In [ ]:
import pandas as pd

pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon" , squeeze = True) 

google = pd.read_csv("google_stock_price.csv" , squeeze = True) 

college = pd.read_csv("nba.csv", usecols = ["College"], squeeze = True)

In [ ]:
google.max()

In [ ]:
google.idxmax()  # idxmax() returns the index which holds the maximum value

In [ ]:
google[3011] == google.max()

In [ ]:
google.max()

In [ ]:
google[google.idxmax()]

In [ ]:
google.min()

In [ ]:
google.idxmin() # idxmin() returns the index which holds the minimum value

In [ ]:
google[11]

In [ ]:
google.min() == google[google.idxmin()]

# value_counts() Method

In [ ]:
import pandas as pd

bmw = pd.read_csv("bmw.csv", usecols = ["paint_color"], squeeze = True) 

bmw.head(44)

In [ ]:
bmw.value_counts()  # value_counts() return the sum of every unique values in a column of a series

In [ ]:
bmw.value_counts(ascending = True)

# The get() Method

In [ ]:
import pandas as pd

pokemon = pd.read_csv("pokemon.csv", index_col = "Type" , squeeze = True) #, index_col = "Pokemon"

pokemon

In [ ]:
pokemon.get(0)

In [ ]:
pokemon.get(4)

In [ ]:
pokemon.get([1,2,5,9])

In [ ]:
pokemon.get("Fire")

In [ ]:
print("Alhamdulillah")

In [ ]:
import pandas as pd

pokemon = pd.read_csv("pokemon.csv", index_col = "Type" , squeeze = True) #, index_col = "Pokemon"

pokemon

In [ ]:
pokemon.get(["Grass","Fire"])

In [ ]:
pokemon.get(1000)

In [ ]:
pokemon.get([1,2,3])

In [ ]:
pokemon.get([1,2,3000])

In [ ]:
pokemon.get()  #shift+tab in a method shows the implicit parameters

In [ ]:
pokemon.get(key = "Fire")

In [ ]:
pokemon.get("Fire", default = "Not Found")

In [ ]:
pokemon.get(key = "Faisal", default = "Not Found") 

Output = None

In [ ]:
pokemon.get()

# Use apply() method to invoke a function on every Series values

In [ ]:
import pandas as pd
bmw = pd.read_csv("bmw.csv", usecols = ["engine_power"], squeeze = True)
bmw.head(20)

In [ ]:
def classify_performance(power):
    if power < 200:
        return "Ok"
    elif power < 300:
        return "Satisfactory"
    else:
        return "Incredible"

In [ ]:
bmw.apply(classify_performance).head(20) # apply() helps to use user-defined function

# The map() method

In [54]:
pokemon = pd.read_csv("pokemon.csv")

pokemon_names = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)

pokemon_types = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)

In [55]:
pokemon_names.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [57]:
pokemon_types.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [58]:
pokemon_names.map(pokemon_types).head(3) # map() returns a series which index is 1st series index and values is 2nd series values

0    Grass
1    Grass
2    Grass
Name: Pokemon, dtype: object